@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height:100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
.nabvar {
  padding: .8rem;
}

.jambotron {
  padding-top: 50px;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.9em !important;
}

.p-3 {
  padding: $spacer !important;
}

h1 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
